#app1 {
  position: relative;
}
.actions > button {
  padding: 2px 8px;
}
#app1 #appContent1 {
  position: absolute;
  margin-left: 50%;
  top: 25vh;
  transform: translate(-50%, -50%);
}
#app1 .output {
  display: flex;
  justify-content: center;
}
